body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.register-container {
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
}
.register-form input {
    background-color: #1C2432;
    color: #F0F0F1;
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    display: block;
}
.register-form button {
    background-color: #FFFFFF;
    color: #0F1419;
    border: none;
    padding: 10px;
    width: 320px;
    cursor: pointer;
    border-radius: 5px;
}
.register-form button:hover {
    background-color: #EFF3F4;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #1D9BF0
}
.register-title {
    color: #E7E9EA;
}
.form-control {
    color: white;
}
.alert-danger {
    color: red;
}
